.container{
    padding-left: 125px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    color: #FFFFFF;
    
}