@font-face {
    font-family: "Nunito";
    src: url('assets/fonts/Nunito-Regular.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: "NunitoSemi";
    src: url("assets/fonts/Nunito-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "NunitoBold";
    src: url("assets/fonts/Nunito-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "LatoBold";
    src: url("assets/fonts/Lato-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "NunitoExtraBold";
    src: url("assets/fonts/Nunito-ExtraBold.ttf");
    font-weight: 800;
  }